{% extends "base.html" %}
{% block content %}
<title>More Event Page!</title>
<div id="fh5co-main">
	<div class="fh5co-narrow-content">
		<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">EVENTS OF OTHER TYPES</h2>
             <div class="row row-bottom-padded-md">
				{% for i in event %}
				{% if i.status == "upcoming" %}
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div style="height: 400px" class="blog-entry">
                        <a href="{{url_for('book_event', id=i.id)}}" class="blog-img"><img style="height: 200px" src="{{ i.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3 ><a href="{{url_for('book_event', id=i.id)}}">{{ i.title }}</a></h3>
                            <span>{{ i.start_date }}</span>
                            <p>{{ i.description }}</p>
                            <a href="{{url_for('book_event', id=i.id)}}" class="lead">check out here<i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
				{% endif %}
				{% endfor %}
             </div>
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">finished events</h2>
             <div class="row row-bottom-padded-md">
				{% for i in event %}
				{% if i.status == "finished" %}
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div style="height: 400px" class="blog-entry">
                        <a href="{{url_for('book_event', id=i.id)}}" class="blog-img"><img style="height: 200px" src="{{ i.url }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3 ><a href="{{url_for('book_event', id=i.id)}}">{{ i.title }}</a></h3>
                            <span>{{ i.start_date }}</span>
                            <p>{{ i.description }}</p>
                            <a href="{{url_for('book_event', id=i.id)}}" class="lead">check out here<i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
				{% endif %}
				{% endfor %}
             </div>
        </div>
    </div>

 <script type="text/javascript">
    document.getElementById('more_event').className = "fh5co-active";
  </script>

{% endblock %}